{% extends "base.html" %}

{% load staticfiles leaflet_tags %}
{% leaflet_css %}
{% leaflet_js %}

{% comment %}
{% load pagination %}
{% endcomment %}

{% block title %}
    Mapa dos Produtores e Feiras Orgânicas | {{ block.super }}
{% endblock %}


{% block container %}

<div>
  <h3>Mapa dos Produtores</h>
</div>
<div class="row">
  <div class="col-sm-2">
    <div class="form-group">
      <form class="form-inline-fluid" role="search" action="#">
        <input name="q" class="form-control mb-sm-2" type="search" placeholder="Busca..." aria-label="Busca por Nome">
      </form>
    </div>
  </div>
  <div class="col-sm-10" style="max-width: 100%; height: 700px";>

    {% leaflet_map "main" callback="window.map_init_basic" %}

  </div>
</div>
{% block stylesheets %}
  {{ block.super }}
  <style>

    .leaflet-container {  /* all maps */
        height:  600px;
        width: auto;
    }

  </style>
{% endblock %}
{% block javascript %}
  {{ block.super }}

  <script type="text/javascript">
      var farmerIcon = L.icon({
        iconUrl: '{% static "leaflet/images/farmer.png" %}',
        iconSize: [25, 28]
      })
      function map_init_basic (map, options) {
        {% for organic_map in organic_map_itens %}
          L.marker([{{ organic_map.address.geolocation.y|iriencode }}, {{ organic_map.address.geolocation.x|iriencode }}], {icon: farmerIcon}).addTo(map)
          .bindPopup('{{ organic_map.name }} <br> {{ organic_map.address }}')
        {% endfor %}
      }
  </script>

{% endblock %}

{% comment %}
{% pagination request paginator page_obj %}
{% endcomment %}
{% endblock %}
