{% extends "base.html" %}

{% block title %}
    Mapa do Cadastro Nacional de Produtores Orgânicos - CNPO | {{ block.super }}
{% endblock %}

{% load staticfiles leaflet_tags %}

{% block style %}
  {{ block.super }}
  <style>

    .leaflet-container {  /* all maps */
        height: 70%;
        width: auto;
    }

  </style>
{% endblock %}

{% block header %}

  {% leaflet_css %}
  {% leaflet_js %}

  <script type="text/javascript">
      var dataurl = '{% url "organic_map:data" %}';

      window.addEventListener("map:init", function (event) {
        var map = event.detail.map;
        // Download GeoJSON data with Ajax
        fetch(dataurl)
          .then(function(resp) {
            return resp.json();
          })
          .then(function(data) {
            L.geoJson(data, {
              onEachFeature: function onEachFeature(feature, layer) {
                var props = feature.properties;
                var content = `<h3>${props.city}</h3><p>${props.city}</p>`;
                layer.bindPopup(content);
            }}).addTo(map);
          });
      });
    </script>

{% endblock %}


{% block container %}

<div>
  <h3>Mapa do Cadastro Nacional de Produtores Orgânicos - CNPO</h>
</div>
<div class="row">
  <!--
  <div class="col-sm-2">
    <div class="form-group">
      <form class="form-inline-fluid" role="search" action="#">
        <input name="q" class="form-control mb-sm-2" type="search" placeholder="Busca..." aria-label="Busca por Nome">
      </form>
    </div>
  </div>
  -->
  <div class="col-sm-12" style="max-width: 100%; height: 700px";>

    {% leaflet_map "main" %}

  </div>
</div>

{% endblock %}
