{% extends "base.html" %}

{% load static %}

{% block container %}
<div class="container">
    <div id="bemvindo" class="jumbotron page-header text-center">
      <p><h3>A Rede Para Acesso a Alimentos e Produtos Orgânicos, Saudáveis e Próximos a Você.</h></p>
      <p><button class="btn btn-primary" href="#">Saiba mais</button></p>
    </div>
    <div class="jumbotron page-header text-center">
      <p><h3>Busque por Produtores Orgânicos e Agroecológicos de todo o Brasil certificados e registrados pelo Ministério da Agricultura.</h></p>
      <p><button class="btn btn-primary" href="#">Faça sua Busca</button></p>
    </div>
    <div class="jumbotron page-header text-center">
      <p><h3>Está procurando por Feiras Orgânicas e Agroecológicas?</h></p>
      <p><h3>Busque em nosso site a Feira mais próxima de sua região.</h></p>
      <p><button class="btn btn-primary" href="#">Faça sua Busca</button></p>
    </div>
    <div class="jumbotron page-header text-center">
      <p><h3>Nhanduti ou Ñanduti, na língua Guarani, significa Teia.</h></p>
      <p><h3>E assim como uma, nós buscamos conectar produtores, comerciantes e consumidores de produtos orgânicos e agroecológicos.</h></p>
      <p><button class="btn btn-primary" href="#">Saiba mais</button></p>
    </div>
    <div class="jumbotron page-header text-center">
      <p><h3>Você é produtor ou comerciante de produtos orgânicos e agroecológicos e gostaria de comercializar através da nossa rede?</h></p>
      <p><button class="btn btn-primary" href="#">Entre em Contato</button></p>
    </div>
    <div class="jumbotron page-header text-center">
      <p><h3>A disponibilidade desses dados são públicos e de acesso gratuito, porém você pode contribuir para o site manter essa estrutura e seguir com a evolução do projeto através do <a href="#">APOIA.se</a></h></p>
      <p><button class="btn btn-primary" href="#">Como Colaborar</button></p>
    </div>
</div>
{% endblock %}
